<div class="container">
  <h1>Player Registration Form</h1>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required #name>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" required #description >
    </div>
    
    <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="text" class="form-control" id="phone" required #phone>
    </div>
    <div class="form-group">
      <label for="game">Games you play</label>
      <input type="text" class="form-control" id="games" required #game>
    </div>
    <div class="form-group">
      <label for="profilePicture">Profile Picture</label>
      <input type="file" class="form-control" id="profilePicture" required #profilePicture>
    </div>
    <div class="form-group">
      <label for="SocialSites">Social Networking Sites</label>
      <input type="text" class="form-control" id="socialSites" required #socialSites>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
    <button type="button" class="btn btn-default" id= "close">Close</button>
  </form>
</div>