<!-- <p>Player-Connect is a place for gamers to meet up and find people to play games with.</p>
<p>Just-Web is a team of graduate students at Cal Poly Pomona.</p>
<ul>
  <li>Sonam</li>
  <li>Phuoc</li>
  <li>Hung</li>
  <li>Ryan</li>
</ul> -->

<div class="container">

  <!-- Introduction Row -->
  <h1 class="my-4">About Us </br>
    <small>It's Nice to Meet You!</small>
  </h1>
  <p><h5>Player-Connect is a place for gamers to meet up and find people to play games with.</h5></p>
  <p><h5>Just-Web is a team of graduate students at Cal Poly Pomona.</h5></p>
  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="my-4">Our Team</h2>
    </div>
    <div class="col-lg-6 col-sm-6 text-center mb-4">
      <img class="img-thumbnail img-responsive img-fluid  center-block d-block mx-auto" src="./../images/Phuoc.jpg" alt="">
      <h3>Phuoc Ngo </br>
        <small>Software Engineer</small>
      </h3>
      <p><a href="https://www.linkedin.com/in/phuoc-ngo-162663139/"> LinkedIn </a></p>
    </div>
    <div class="col-lg-6 col-sm-6 text-center mb-4 ">
      <img class="img-thumbnail img-responsive img-fluid center-block d-block mx-auto" src="./../images/Hung.png" alt="">
      <h3> Hung Lay</br>
        <small>Software Engineer</small>
      </h3>
      <p><a href="https://www.linkedin.com/in/hungthanhlay"> LinkedIn </a></p>
    </div>
    <div class="col-lg-6 col-sm-6 text-center mb-4">
      <img class="img-thumbnail img-responsive img-fluid center-block mx-auto d-block" src="./../images/Ryan.jpg" alt="">
      <h3>Ryan Omidi</br>
        <small>Software Engineer</small>
      </h3>
      <p> <a href="https://www.linkedin.com/in/ryan-omidi-248ba6170/"> LinkedIn  </a></p>
    </div>
    <div class="col-lg-6 col-sm-6 text-center mb-4">
      <img class="img-thumbnail img-responsive img-fluid center-block mx-auto d-block" src="./../images/sonam.png" alt="">
      <h3>Sonam Nahar</br>
        <small>Software Engineer</small>
      </h3>
      <p><a href="https://www.linkedin.com/in/sonam-nahar-27333423/"> LinkedIn </a></p>
    </div>
  </div>

</div>
