<form role="form">
        <div class="form-group">
          <label for="title" class="control-label">Title</label>
          <input type="text" ng-model="player.name" class="form-control" id="title" placeholder="Enter the Player Name">
        </div>
        <div class="form-group">
          <label for="title" class="control-label">Email</label>
          <input type="text" ng-model="player.email" class="form-control" id="title" placeholder="Enter Email">
        </div>
        <div class="form-group">
            <label for="title" class="control-label">Username</label>
            <input type="text" ng-model="player.username" class="form-control" id="title" placeholder="Enter Username">
          </div>
          <div class="form-group">
              <label for="title" class="control-label">Password</label>
              <input type="text" ng-model="player.password" class="form-control" id="title" placeholder="Enter Password">
          </div>
        <input type="submit" class="btn btn-primary" ng-click="savePlayer()" value="Save">
      </form>