<a class="btn btn-primary" href="/#!/create/player"><span class="glyphicon glyphicon-plus"></span> Add Player</a>
        <br>
        <table class="table table-striped">
          <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Password</th>
          </tr></thead>
          <tbody>
            <tr ng-repeat="player in players">
              <td><a ng-href="/#!/player/{{ player._id }}">{{ player.name  }}</a></td>
              <td>{{ player.name }}</td>
              <td>{{ player.email }}</td>
              <td>{{ player.username }}</td>
              <td>{{ player.password }}</td>
              <td>
                <div class="button-group">
                  <a ng-href="/#!/player/{{ player._id }}/edit" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>