<div *ngIf="authService.checkLoggedIn()">
  <div class="panel-body" id="scrollingContainer" style="width:100%;">
      <ul class="chat">
          <li *ngFor="let message of messages">
            <img style="width:50px; border-radius:25px;" src="http://{{ip}}:3000/{{message.image}}"/>
            <span style="font-weight:bold;color:#5a3a78;padding-left:10px;">{{message.sender}}</span>
            <p style="padding-left:60px">{{message.text}}</p>
          </li>
      </ul>
  </div>
  <div class="panel-footer" style="width:100%;">
      <div class="input-group">
          <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." [(ngModel)]="message" (keyup.enter)="sendMessage()"/>
          <span style="padding-left:5px;" class="input-group-btn">
              <button class="btn btn-warning" id="btn-chat" (click)="sendMessage()">
                  Send</button>
          </span>
      </div>
  </div>
</div>

<div *ngIf="!authService.checkLoggedIn()">
  <span>Please login to chat</span>
</div>
