<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
    <br/>
	<div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
          <form class="card card-sm">
              <div class="card-body row no-gutters align-items-center">
                  <div class="col-auto">
                      <i class="fas fa-search h4 text-body"></i>
                  </div>
                  <div class="col">
                      <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search game" name="searchquery" [(ngModel)]="searchquery">
                  </div>
                  <div class="col-auto">
                      <button class="btn btn-lg btn-success" type="submit" (click)="onClickSearch()">Search</button>
                  </div>
              </div>
          </form>
      </div>
      <!--end of col-->
  </div>
</div>
<div *ngIf="!noresult" class="alert alert-danger">
        No players to show for this game
</div>
<main *ngIf="noresult">
  <div class="container-fluid">
    <div class="row">
        <div *ngFor="let player of players" class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="http://3.16.119.157:3000/{{player.userImage}}" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">{{player.name}} </h4>
            <p class="card-text">{{player.username}}</p>
            <h5 class="card-text"> {{player.game}}</h5>
          </div>
          <div class="card-block">
              <mat-icon fxFlex="10%" (click)="onClickProfile(player.username)" style="cursor: pointer">person</mat-icon>
              <mat-icon fxFlex="10%" (click)="onClickChat(player.username, $event)" style="cursor: pointer">chat</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
